<% provide(:title, 'Project Proposal') %>

<section>
    <div class="section-wrapper">
        <div>
            student: <%= @project.users.first_name %><%= @project.users.last_name %>
        </div>
        <div>
            email: <%= @project.users.email %>
        </div>
        <div>
            major: <%= @project.major %>
        </div>
        <div>
            year: <%= @project.year %>
        </div>
        <div>
            Past courses: <%= @project.past_courses %>
        </div>
        <div>
            current courses: <%= @project.current_courses %>
        </div>
        <div>
            interests: <%= @project.interests %>
        </div>
        <div>
            why: <%= @project.why %>
        </div>
        <div>
            favorite: <%= @project.favorite %>
        </div>
        <div>
            recommender: <%= @project.recommender %>
        </div>
        <div>
            other math dept: <%= @project.alternate %>
        </div>
        <div>
            how you found us: <%= @project.how %>
        </div>
        <div>
            questions: <%= @project.questions %>
        </div>
    </div>

</section>


