<% provide(:title, 'Apply for DRP') %>
<%=render '/layouts/logo'%>

<section>

</section>

<nav>
  <div class='nav-container'>
        <div class='nav-item'>
            <%=link_to "#" do%>
                <div class="past button"></div>
                <span class="past label">past projects</span>
            <%end%>
        </div>
        <div class='nav-item'>
            <%=link_to "#" do%>
                <div class="mentor button"></div>
                <span class="mentor label">mentors</span>
            <%end%>
        </div>
        <div class='nav-item'>
            <%=link_to "#" do%>
                <div class="participants button"></div>
                <span class="participants label">participants</span>
            <%end%>
        </div>
        <div class='nav-item'>
            <%=link_to "#" do%>
                <div class="info button"></div>
                <span class="info label">information</span>
            <%end%>
        </div>
  </div>
</nav>

